body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #startScreen {
    background-color: black;
} */


#gameScreen {
    background-image: url("/images/notfinalbackground.jpg");
    height: 520px;
    width: 620px;
    margin: 20px 0;
    border: solid 2px black;
    position: relative;
}



#scoreCounter {
    background-color: white;
    height: 20px;
    width: 60px;
    border: 1px solid navy;
    position: absolute;
    right: 0;
}

#livesCounter {
    height: 20px;
    width: auto;
    position: absolute;
    right: 10px;
    top: 40px;
    flex-direction: row;
    
}

.lives {
    height: 30px;
    width: 30px;
}



#player {
    background-image: url("/images/notfinalplayeredited.png");
    height: 80px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;   
    position: absolute;
    bottom: 0;
    left: 300px;
    transform: translateX(-50%); 
    
}

.obstacle {
    background-color: rgb(165, 22, 120);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
}

