body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-family: 'Victor Mono', monospace;

}

/* #startScreen {
    background-color: black;
} */


#gameScreen {
    background-image: url("/images/notfinalbackground.jpg");
    height: 520px;
    width: 620px;
    margin: 20px 0;
    border: solid 2px black;
    position: relative;
}



#scoreCounter {
    background-image: url("/images/score-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 30px;
    width: 85px;
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: right;

}



#livesCounter {
    height: 20px;
    width: auto;
    position: absolute;
    right: 10px;
    top: 55px;
    flex-direction: row;
    
}

.lives {
    height: 30px;
    width: 30px;
}



#player {
    background-image: url("/images/notfinalplayeredited.png");
    height: 80px;
    width: 60px;
    background-size: cover;
    background-repeat: no-repeat;   
    position: absolute;
    bottom: 0;
    left: 300px;
    transform: translateX(-50%); 

}

.obstacle {
    background-color: rgb(165, 22, 120);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
}


.reward{
    background-color: rgb(132, 200, 229);
    height: 30px;
    width: 30px;
    position: absolute;
}
