body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-family: 'Victor Mono', monospace;

    /* font-family: 'Special Elite', cursive; */

}

#startButton {
    background-image: url("/images/score-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
    width: 190px;
    position: relative;
    top: 41%;
    left: 37%;
    font-size: 40px;
    font-family: 'Special Elite', cursive;
    display: block;
}

#gameScreen {
    background-image: url("/images/notfinalbackground.jpg");
    height: 520px;
    width: 620px;
    margin: 20px 0;
    border: solid 2px black;
    position: relative;
    display: block;
}

#gameOverScreen {
    background-image: url("/images/notfinalgameover.jpg");
    background-size: 100% 100%;
    height: 520px;
    width: 620px;
    margin: 20px 0;
    border: solid 2px black;
    position: relative;
    background-image: cover;
    background-repeat: no-repeat;
    /* background-color: black; */
    display: none;
}


#restartButton {
    background-image: url("/images/score-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 10px;
    height: 90px;
    width: 190px;
    position: relative;
    top: 80%;
    left: 35%;
    font-size: 40px;
    font-family: 'Special Elite', cursive;
    display: block;
}


#scoreCounter {
    background-image: url("/images/score-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 30px;
    width: 85px;
    position: absolute;
    padding: 5px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
    border-radius: 8px;

}



#livesCounter {
    height: 20px;
    width: auto;
    position: absolute;
    right: 10px;
    top: 55px;

}

.lives {
    height: 20px;
    width: 20px;
    background-image: url("/images/notfinalliveiconedited.png");
    background-size: cover;
    background-repeat: none;
    float: left;
    
}



#player {
    background-image: url("/images/notfinalplayeredited.png");
    height: 80px;
    width: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 300px;
    transform: translateX(-50%);

}

.obstacle {
    background-image: url("/images/notfinalobstacle.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    position: absolute;
}


.reward {
    background-image: url("/images/finalrewardedited.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
}

.obstacleZeroLives {
    background-image: url("/images/download.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    position: absolute;
}